# Análisis e Implementación en SparkQL

* Entrega hasta el 24 de mayo en https://forms.gle/aRiWtjayausRFCTd8

* Los dos conjuntos de datos entregados, CSV separados por coma, Evaluación del Pitch (2021.04.13 ISoftware).csv y Asistencia del Pitch (2021.04.13 ISoftware).csv proceden de dos encuestas realizadas con Google Forms.

* Los archivos proceden de las evaluaciones de los pitch (exposiciones cortas de negocio) que realizan los estudiantes de la asignatura de Ingeniería de Software. Los estudiantes están organizados en equipos. Cada equipo realiza una presentación de máximo 15 minutos, una vez inicia la presentación todos los estudiantes deben registrar su asistencia lo cual queda registrado en 'Asistencia del Pitch (2021.04.13 ISoftware).csv' incluidos los miembros del equipo.

* El archivo `Asistencia del Pitch (2021.04.13 ISoftware).csv` contiene las columnas: `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto,`"Equipo al que perteneces:"` equipo de trabajo al que pertenece el estudiante también es texto y `"Equipo que va a exponer:"` equipo que el estudiante va a tender a su presentación.

* El archivo `Evaluación del Pitch (2021.04.13 ISoftware).csv` contiene las columnas `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto, `"Equipo que vas a evaluar:"` equipo que ha expuesto y que va a ser evaluado por cada estudiante que no sea integrante; a continuación, se tienen las siguientes columnas que corresponden a la evaluación de los respectivos ítems:

    1. "Introducción: El equipo responde adecuadamente ¿Quiénes son y por qué están aquí?",
    2. "Equipo: El equipo responde adecuadamente ¿Quiénes están detrás de la idea y cuál es su función?",
    3. "Problema: El equipo responde adecuadamente ¿Qué problema resolverá?, ¿es realmente un problema?",
    4. "Ventajas: El equipo responde adecuadamente ¿Por qué su solución es especial?, ¿qué la hace distinta de otras?",
    5. "Solución: El equipo responde adecuadamente ¿Cómo piensa resolver el problema?",
    6. "Producto: El equipo responde adecuadamente ¿Cómo funciona el producto o servicio? Muestra algunos ejemplos.",
    7. "Tracción: El equipo responde adecuadamente si cuenta con clientes que demuestran potencial.",
    8. "Mercado: El equipo responde conoce, o por lo menos intentar predecir, el tamaño del mercado que impactará.",
    9. "Competencia: El equipo responde adecuadamente ¿Cuáles son las soluciones alternativas al problema que plantea?",
    10. "Modelo de negocio: El equipo responde adecuadamente ¿Cómo hará dinero? ",
    11. "Inversión: El equipo responde adecuadamente ¿Cuál es su presupuesto y cuánto espera ganar?",
    12. "Contacto: El equipo deja los datos al cliente y muestra cómo pueden contactarle.",
    13. "Exposición: ¿Qué tan coordinados estaban los expositores?",
    14. "Exposición: ¿Los expositores se expresaron con claridad y se hicieron entender?",
    15. "Exposición: Las diapositivas son claras y coherentes y apoyaron adecuadamente la exposición.",
    * "Suponiendo que eres inversionista, ¿Estarías dispuesto a invertir dinero en este equipo? (esta pregunta no se pondera en la nota)",
    * "Observaciones para el equipo, estas observaciones las debe considerar el equipo para mejorar la siguiente presentación."


* Cada ítem se evalúa con la siguiente escala: 0. Ausente; 1. Deficiente; 2. Regular; 3. Aceptable; 4. Bueno; 5. Excelente

* Carge los datos, cada archivo en una tabla SparkSQL y responda cada una de las consultas dadas en cada celda. Tenga en cuenta que algunas consultas pueden tener como resultado el vacío.

# Integrantes del equipo
1. DANIELA GIRALDO SARMIENTO - CC 1.112.785.146
2. SIMÓN ZEA GALLEGO - CC 1.037.639.269
3. JUAN ESTEBAN SERNA VEGA - CC 1.037.608.720
4.
5.

In [1]:
# PARA TRABAJAR EL NOTEBOOK EN COLAB

# Install spark-related dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

!pip install -q findspark
!pip install pyspark
# Set up required environment variables

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

# La libreria para "encontrar el sevicio" de Spark
import findspark
findspark.init()

# Librerias para "gestionar el servicio" de Spark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext, SparkSession

# Creamos una aplicación Spark en el Servicio
# Tenga cuidado con las tildes o caracteres especiales en el nombre de la app
AppSpark = SparkConf().setAppName("Evaluacion iSofware")

# Definimos un espacio o contexto para la App
ContextoSpark=SparkContext(conf=AppSpark)

# inicio una sesión en el espacio de la App
SesionSpark = SparkSession(ContextoSpark)

# inicio del espacio o contexto SQL
ContextoSql = SQLContext(sparkContext=ContextoSpark, sparkSession=SesionSpark)

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 67kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 15.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=5f45f6b5af41f5fce751593f8fe9e74ab2189527cfaa6033eb1cd9cd8aeb7b28
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
# PARA TRABAJAR EL NOTEBOOK EN JUPYTER LAB

# Agrege acá el código para importar las librerias
!pip3 install Cython  ##Librerias desarrolladas en C
!pip3 install pyarrow==0.9.0 ##Procesamiento distribuido de arreglos
!pip3 install ts-flint ##Administracion de series de tiempo
!pip install findspark
!wget https://repo1.maven.org/maven2/com/twosigma/flint/0.6.0/flint-0.6.0.jar

import os
##pasamos a la variable PYSPARK_SUBMIT_ARGS las librerias de java
os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars /datalake/flint-0.6.0.jar --py-files /datalake/flint-0.6.0.jar pyspark-shell'

# La libreria para "encontrar el sevicio" de Spark
import findspark
findspark.init()

# Librerias para "gestionar el servicio" de Spark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext, SparkSession

# Creamos una aplicación Spark en el Servicio
# Tenga cuidado con las tildes o caracteres especiales en el nombre de la app
AppSpark = SparkConf().setAppName("Evaluacion iSofware")

# definimos un espacio o contexto para la App
ContextoSpark=SparkContext(conf=AppSpark)

# inicio una sesión en el espacio de la App
SesionSpark = SparkSession(ContextoSpark)

# inicio del espacio o contexto SQL
ContextoSql = SQLContext(sparkContext=ContextoSpark, sparkSession=SesionSpark)

In [ ]:
# 1. Cargue los datos en la carpeta datalake y luego del /datalake al HDFS (Hadoop File System)
# Recuerda usar ! para ejecutar el comando en el shell. 
# Tu código a continuación...
!hdfs dfs -rm /tmp/AsistenciaPitchIS.csv
!hdfs dfs -rm /tmp/EvaluacionPitchIS.csv

!hdfs dfs -copyFromLocal AsistenciaPitchIS.csv /tmp/
!hdfs dfs -copyFromLocal EvaluacionPitchIS.csv /tmp/

In [3]:
# PARA CREAR TABLAS EN COLAB

# 2. Cree dos tablas SparkSQL y almacene el csv en su correspondiente tabla.
# Observación: tenga especial cuidado con los encabezados de los archivos CSV.
# Usted puede considerar cambiar los encabezados de los CSV originales
# Tu código a continuación...
ContextoSql.sql("""
CREATE TABLE IF NOT EXISTS 
Asistencia (
            MarcaTemporal VARCHAR(100), 
            NombreUsuario VARCHAR(100),
            EquipoPertenece VARCHAR(100),
            EquipoExponer VARCHAR(100)
            ) 
USING CSV OPTIONS ( 
    sep=';',
    header='true', 
    nullvalue='NA', 
    timestampFormat=\"yyyy-MM-dd'T'HH:mm:ss\", 
    path='/content/AsistenciaPitch.csv')
""");

ContextoSql.sql("""
CREATE TABLE IF NOT EXISTS 
Evaluacion (
            MarcaTemporal VARCHAR(100), 
            NombreUsuario VARCHAR(100),
            EquipoEvaluar VARCHAR(100),
            q1 VARCHAR(100),
            q2 VARCHAR(100),
            q3 VARCHAR(100),
            q4 VARCHAR(100),
            q5 VARCHAR(100),
            q6 VARCHAR(100),
            q7 VARCHAR(100),
            q8 VARCHAR(100),
            q9 VARCHAR(100),
            q10 VARCHAR(100),
            q11 VARCHAR(100),
            q12 VARCHAR(100),
            q13 VARCHAR(100),
            q14 VARCHAR(100),
            q15 VARCHAR(100),
            q16 VARCHAR(100),
            q17 VARCHAR(100)
            ) 
USING CSV OPTIONS ( 
    sep=';',
    header='true', 
    nullvalue='NA', 
    timestampFormat=\"yyyy-MM-dd'T'HH:mm:ss\", 
    path='/content/EvaluacionPitch1.csv')
""");

In [ ]:
# PARA CREAR TABLAS EN JUPYTER LAB

# 2. Cree dos tablas SparkSQL y almacene el csv en su correspondiente tabla.
# Observación: tenga especial cuidado con los encabezados de los archivos CSV.
# Usted puede considerar cambiar los encabezados de los CSV originales
# Tu código a continuación...
ContextoSql.sql("""
CREATE TABLE IF NOT EXISTS 
Asistencia (
            MarcaTemporal VARCHAR(100), 
            NombreUsuario VARCHAR(100),
            EquipoPertenece VARCHAR(100),
            EquipoExponer VARCHAR(100)
            ) 
USING CSV OPTIONS ( 
    sep=';',
    header='true', 
    nullvalue='NA', 
    timestampFormat=\"yyyy-MM-dd'T'HH:mm:ss\", 
    path='/content/AsistenciaPitch.csv')
""");

ContextoSql.sql("""
CREATE TABLE IF NOT EXISTS 
Evaluacion (
            MarcaTemporal VARCHAR(100), 
            NombreUsuario VARCHAR(100),
            EquipoEvaluar VARCHAR(100),
            q1 VARCHAR(100),
            q2 VARCHAR(100),
            q3 VARCHAR(100),
            q4 VARCHAR(100),
            q5 VARCHAR(100),
            q6 VARCHAR(100),
            q7 VARCHAR(100),
            q8 VARCHAR(100),
            q9 VARCHAR(100),
            q10 VARCHAR(100),
            q11 VARCHAR(100),
            q12 VARCHAR(100),
            q13 VARCHAR(100),
            q14 VARCHAR(100),
            q15 VARCHAR(100),
            q16 VARCHAR(100),
            q17 VARCHAR(100)
            ) 
USING CSV OPTIONS ( 
    sep=';',
    header='true', 
    nullvalue='NA', 
    timestampFormat=\"yyyy-MM-dd'T'HH:mm:ss\", 
    path='/content/EvaluacionPitch1.csv')
""");

In [4]:
# 2. Consulte el listado total de estudiantes (correos electrónicos) del 
# curso de Ingeniería de Software, ordenados alfabéticamente
# Tu código a continuación...

ContextoSql.sql("SELECT DISTINCT NombreUsuario FROM Asistencia ORDER BY NombreUsuario").show(40)

+--------------------+
|       NombreUsuario|
+--------------------+
| abanolc@unal.edu.co|
|acastrillonv@unal...|
| aflemag@unal.edu.co|
|anapariciom@unal....|
|angutierrezb@unal...|
|anoriega@unal.edu.co|
|auarbelaeza@unal....|
| bocampo@unal.edu.co|
|cgiraldo@unal.edu.co|
|cjfunezg@unal.edu.co|
|cquinchiar@unal.e...|
| dadazam@unal.edu.co|
|daestradam@unal.e...|
|davgarciava@unal....|
|dballesteroso@una...|
|  dbrito@unal.edu.co|
|dcadavid@unal.edu.co|
|dcardonaal@unal.e...|
|dchavarriar@unal....|
|dgarciabl@unal.ed...|
|dgerenal@unal.edu.co|
|dgiraldolo@unal.e...|
|dguardia@unal.edu.co|
|dosoriom@unal.edu.co|
| eapenad@unal.edu.co|
|elondonoc@unal.ed...|
|emflorezb@unal.ed...|
|emlopezr@unal.edu.co|
|eporrasm@unal.edu.co|
|esgarciac@unal.ed...|
|favasquezj@unal.e...|
|fguerrerot@unal.e...|
|fmiranda@unal.edu.co|
|framirezf@unal.ed...|
|hriveraa@unal.edu.co|
|jcardonaso@unal.e...|
|jcorreapa@unal.ed...|
|jdroldano@unal.ed...|
|jfernandezmo@unal...|
|jgutierrezlo@unal...|
+--------------------+
only showing top 40 rows

In [5]:
# 3. Consulte la cantidad de asistencias registradas por estudiante; además, la fecha y hora de la primera asistencia
# y la fecha y hora de la última asistencia
# Tu código a continuación...

ContextoSql.sql("""SELECT NombreUsuario,
                COUNT(NombreUsuario) AS CantidadAsistencias,
                MIN(MarcaTemporal) AS PrimeraAsistencia,
                MAX(MarcaTemporal ) AS UltimaAsistencia
                FROM Asistencia
                GROUP BY NombreUsuario""").show(40)

+--------------------+-------------------+--------------------+--------------------+
|       NombreUsuario|CantidadAsistencias|   PrimeraAsistencia|    UltimaAsistencia|
+--------------------+-------------------+--------------------+--------------------+
|samolinap@unal.ed...|                 10|2021/04/08 8:11:4...|2021/04/13 9:37:2...|
| jruedat@unal.edu.co|                  8|2021/04/08 8:12:5...|2021/04/13 9:41:2...|
|nvalenciat@unal.e...|                  8|2021/04/08 8:10:1...|2021/04/13 9:39:3...|
|serendona@unal.ed...|                  8|2021/04/08 8:10:4...|2021/04/13 9:40:2...|
|jgutierrezlo@unal...|                  8|2021/04/08 8:12:0...|2021/04/13 9:39:0...|
|dgerenal@unal.edu.co|                  8|2021/04/08 8:10:0...|2021/04/13 9:41:2...|
|cjfunezg@unal.edu.co|                  8|2021/04/08 8:12:1...|2021/04/13 9:41:4...|
|emflorezb@unal.ed...|                  8|2021/04/08 8:14:0...|2021/04/13 9:45:4...|
|dchavarriar@unal....|                  8|2021/04/08 8:13:0...|2021/04/13 9:43:5...|
|fguerrerot@unal.e...|                  8|2021/04/08 8:13:0...|2021/04/13 9:40:1...|
|jdroldano@unal.ed...|                  1|2021/04/08 8:20:1...|2021/04/08 8:20:1...|
|jovillarrealm@una...|                 10|2021/04/08 10:02:...|2021/04/13 9:42:5...|
|juriveras@unal.ed...|                  8|2021/04/08 8:13:3...|2021/04/13 9:41:1...|
|dguardia@unal.edu.co|                  8|2021/04/08 8:12:5...|2021/04/13 9:40:3...|
| lrdiaza@unal.edu.co|                  7|2021/04/08 8:14:5...|2021/04/13 9:45:2...|
|fmiranda@unal.edu.co|                  8|2021/04/08 8:10:1...|2021/04/13 9:45:0...|
|dcadavid@unal.edu.co|                  8|2021/04/08 8:13:0...|2021/04/13 9:40:5...|
| bocampo@unal.edu.co|                  8|2021/04/08 8:13:3...|2021/04/13 9:42:1...|
|rmbuilesm@unal.ed...|                  9|2021/04/08 8:14:1...|2021/04/13 9:41:3...|
|jmunozhe@unal.edu.co|                  8|2021/04/08 8:09:5...|2021/04/13 9:10:1...|
|juortizt@unal.edu.co|                  8|2021/04/08 8:10:3...|2021/04/13 9:36:5...|
|eporrasm@unal.edu.co|                  7|2021/04/08 8:10:3...|2021/04/13 9:42:1...|
|jubuitrago@unal.e...|                  8|2021/04/08 8:13:0...|2021/04/13 9:41:1...|
|acastrillonv@unal...|                  8|2021/04/08 8:13:0...|2021/04/13 9:43:1...|
| mcallea@unal.edu.co|                  8|2021/04/08 8:13:2...|2021/04/13 9:42:2...|
|jlopezpe@unal.edu.co|                  9|2021/04/08 8:10:5...|2021/04/13 9:09:3...|
| kmolano@unal.edu.co|                  8|2021/04/08 8:13:0...|2021/04/13 9:40:5...|
|sasalazarr@unal.e...|                  9|2021/04/08 8:13:2...|2021/04/13 9:40:3...|
|elondonoc@unal.ed...|                  8|2021/04/08 8:13:4...|2021/04/13 9:41:2...|
| eapenad@unal.edu.co|                  8|2021/04/08 8:12:5...|2021/04/13 9:39:4...|
| jortize@unal.edu.co|                  8|2021/04/08 8:13:0...|2021/04/13 9:58:5...|
|juochoag@unal.edu.co|                  8|2021/04/08 8:14:1...|2021/04/13 9:42:3...|
|mcarvajalsa@unal....|                  8|2021/04/08 8:12:0...|2021/04/13 9:39:3...|
|davgarciava@unal....|                  8|2021/04/08 8:13:4...|2021/04/13 9:42:3...|
|   lmazo@unal.edu.co|                  5|2021/04/08 8:15:5...|2021/04/08 9:48:3...|
|dosoriom@unal.edu.co|                  7|2021/04/08 8:28:1...|2021/04/13 9:57:5...|
|saespinosab@unal....|                  9|2021/04/08 10:10:...|2021/04/13 9:51:0...|
|daestradam@unal.e...|                  8|2021/04/08 8:10:3...|2021/04/13 9:44:3...|
|jjmonsalvem@unal....|                  8|2021/04/08 8:13:3...|2021/04/13 9:40:2...|
|sebermudezg@unal....|                  9|2021/04/08 8:13:0...|2021/04/13 9:40:1...|
+--------------------+-------------------+--------------------+--------------------+
only showing top 40 rows

In [7]:
# 4. Consulte el listado de estudiantes que asistieron a 2 presentaciones o menos (una).
# Tu código a continuación...

ContextoSql.sql("""SELECT NombreUsuario, 
                COUNT(NombreUsuario) AS Asistencia 
                FROM Asistencia 
                GROUP BY NombreUsuario 
                HAVING COUNT(NombreUsuario)<=2""").show()

+--------------------+----------+
|       NombreUsuario|Asistencia|
+--------------------+----------+
|jdroldano@unal.ed...|         1|
+--------------------+----------+

In [6]:
# 5. Consulte el listado de estudiantes que no asistieron a ninguna presentación.
# Tu código a continuación...

ContextoSql.sql("""SELECT DISTINCT Evaluacion.NombreUsuario FROM Evaluacion evaluacion
                LEFT JOIN Asistencia asistencia 
                ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                WHERE Asistencia.NombreUsuario IS NULL""").show()

+-------------+
|NombreUsuario|
+-------------+
+-------------+

In [8]:
# 6. Consulte los integrantes por cada equipo al que pertenecen.
# Tu código a continuación...

ContextoSql.sql("""SELECT DISTINCT NombreUsuario, 
                REPLACE(EquipoPertenece,'Pertenezco a: ','') AS EquipoPertenece 
                FROM Asistencia 
                ORDER BY EquipoPertenece, NombreUsuario""").show()

+--------------------+--------------------+
|       NombreUsuario|     EquipoPertenece|
+--------------------+--------------------+
|angutierrezb@unal...|Administraci�n de...|
| eapenad@unal.edu.co|Administraci�n de...|
|emflorezb@unal.ed...|Administraci�n de...|
|framirezf@unal.ed...|Administraci�n de...|
|jhcordoba@unal.ed...|Administraci�n de...|
| jortize@unal.edu.co|Administraci�n de...|
| kmolano@unal.edu.co|Administraci�n de...|
|lumarinb@unal.edu.co|Administraci�n de...|
|nsalinas@unal.edu.co|Administraci�n de...|
|rmbuilesm@unal.ed...|Administraci�n de...|
|saespinosab@unal....|Administraci�n de...|
|samolinap@unal.ed...|Administraci�n de...|
|sednarvaezna@unal...|Administraci�n de...|
| abanolc@unal.edu.co|Gesti�n de Men�s ...|
|anapariciom@unal....|Gesti�n de Men�s ...|
|davgarciava@unal....|Gesti�n de Men�s ...|
|emlopezr@unal.edu.co|Gesti�n de Men�s ...|
|favasquezj@unal.e...|Gesti�n de Men�s ...|
|hriveraa@unal.edu.co|Gesti�n de Men�s ...|
|jcardonaso@unal.e...|Gesti�n de Men�s ...|
+--------------------+--------------------+
only showing top 20 rows

In [9]:
# 7. Consulte la cantidad de asistentes por presentación, sin considerar los asistentes que pertenecen 
# al equipo que realizó la presentación.
# Tu código a continuación...

ContextoSql.sql("""SELECT EquipoExponer, COUNT(EquipoExponer) AS Asistentes 
                FROM (
                  SELECT REPLACE(EquipoPertenece,'Pertenezco a: ','') AS EquipoPertenece, 
                  REPLACE(EquipoExponer,'Expone: ','') AS EquipoExponer
                  FROM Asistencia WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != REPLACE(EquipoExponer,'Expone: ','') 
                  ORDER BY EquipoExponer, EquipoPertenece
                ) 
                GROUP BY EquipoExponer""").show()

+--------------------+----------+
|       EquipoExponer|Asistentes|
+--------------------+----------+
|Servicios a domic...|        76|
|Lo tengo y te lo ...|        75|
|Deserci�n de estu...|         3|
|Gesti�n de progra...|        74|
|Gesti�n de Men�s ...|        72|
|       Te lo cambio.|        75|
|Administraci�n de...|        70|
|Gesti�n de Reside...|        72|
|     Mi Sanandresito|        72|
+--------------------+----------+

In [10]:
# 8. Consutar cuáles integrantes evaluaron a su propio equipo. Estas evaluaciones no serán válidas, pues un
# integrante no puede evaluar a su propio equipo.
# Tu código a continuación...

ContextoSql.sql("""SELECT DISTINCT Evaluacion.NombreUsuario,
                REPLACE(EquipoPertenece,'Pertenezco a: ','') AS SuEquipo
                FROM Evaluacion INNER JOIN Asistencia 
                ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') = EquipoEvaluar""").show()

+--------------------+--------------------+
|       NombreUsuario|            SuEquipo|
+--------------------+--------------------+
|mcarvajalsa@unal....|Gesti�n de Reside...|
|jhcordoba@unal.ed...|Administraci�n de...|
|anapariciom@unal....|Servicios a domic...|
| kmolano@unal.edu.co|Administraci�n de...|
|  lmayar@unal.edu.co|Gesti�n de progra...|
|hriveraa@unal.edu.co|Gesti�n de Men�s ...|
| jruedat@unal.edu.co|Servicios a domic...|
|daestradam@unal.e...|Lo tengo y te lo ...|
+--------------------+--------------------+

In [11]:
# 9. Consultar la nota promedio por cada ítem (1 al 15), y la nota promedio total del cada equipo. Recuerde que no
# son válidas las evaluaciones realizadas por los miembros del mismo equipo.
# Tu código a continuación...

ContextoSql.sql("""
                SELECT *,
                ROUND((q1+q2+q3+q4+q5+q6+q7+q8+q9+q10+q11+q12+q13+q14+q15)/15,3) AS PromedioTotal 
                FROM (SELECT EquipoEvaluar, 
                      ROUND(AVG(q1),3) AS q1, 
                      ROUND(AVG(q2),3) AS q2, 
                      ROUND(AVG(q3),3) AS q3, 
                      ROUND(AVG(q4),3) AS q4,
                      ROUND(AVG(q5),3) AS q5, 
                      ROUND(AVG(q6),3) AS q6, 
                      ROUND(AVG(q7),3) AS q7, 
                      ROUND(AVG(q8),3) AS q8,
                      ROUND(AVG(q9),3) AS q9, 
                      ROUND(AVG(q10),3) AS q10, 
                      ROUND(AVG(q11),3) AS q11,
                      ROUND(AVG(q12),3) AS q12, 
                      ROUND(AVG(q13),3) AS q13, 
                      ROUND(AVG(q14),3) AS q14, 
                      ROUND(AVG(q15),3) AS q15
                      FROM Evaluacion INNER JOIN Asistencia 
                      ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                      WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                      GROUP BY EquipoEvaluar)
                """).show()

+--------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------------+
|       EquipoEvaluar|   q1|   q2|   q3|   q4|   q5|   q6|   q7|   q8|   q9|  q10|  q11|  q12|  q13|  q14|  q15|PromedioTotal|
+--------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------------+
|Servicios a domic...| 4.49|4.631|4.511|4.267|4.503| 4.61|4.104|4.121|4.359|4.267|4.161|4.646|4.485|4.565|4.591|        4.421|
|Lo tengo y te lo ...|4.488|4.601| 4.27|4.435|4.424|4.717|4.355|4.251|4.491|4.466| 4.36|4.592| 4.53|4.599| 4.61|        4.479|
|Deserci�n de estu...|  4.5|  5.0|  5.0|  5.0|  4.5|  5.0|  5.0|  4.5|  5.0|  4.5|  4.5|  5.0|  4.5|  4.5|  5.0|        4.767|
|Gesti�n de progra...|4.381|  4.4|4.547|3.916|4.344|4.449|4.418|4.498|4.282|4.321|4.535|4.432|4.453|4.488|4.633|        4.406|
|Gesti�n de Men�s ...|4.324|3.979|4.567|4.318|4.384|4.022|4.202|4.225|4.298|4.637|4.311|4.505|4.464|4.452| 4.73|        4.361|
|       Te lo cambio.|4.346|4.025|4.222|4.002|4.444|4.838|4.086|4.088|4.201|4.321|3.594|4.499|4.575|4.457|4.547|        4.283|
|Administraci�n de...|4.122|4.415|3.971|3.933|4.187|4.436|4.045|4.418|3.945|4.416|4.131|4.135|4.322|4.218|4.144|        4.189|
|Gesti�n de Reside...|4.557|4.427|4.642|4.452|4.463|4.119| 4.52|4.683| 4.42|4.528|4.351|4.648|4.427|4.521|4.409|        4.478|
|     Mi Sanandresito|4.204|3.909|4.304|4.017|4.323|4.319|4.252|4.392|3.519|4.358|4.377| 4.63|4.275|4.176|4.125|        4.212|
+--------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------------+

In [37]:
# 10. Consulte el mejor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados 
# y el mejor equipo según el promedio total.
# Tu código a continuación...

q1 = ContextoSql.sql("""SELECT q1_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q1),1) AS q1_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q1_avg DESC 
                      )
                      WHERE q1_avg = (
                        SELECT MAX(q1_avg) 
                        FROM(
                          SELECT ROUND(AVG(q1),1) AS q1_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q1_avg DESC
                        )
                      )""").show()

q2 = ContextoSql.sql("""SELECT q2_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q2),1) AS q2_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q2_avg DESC 
                      )
                      WHERE q2_avg = (
                        SELECT MAX(q2_avg) 
                        FROM(
                          SELECT ROUND(AVG(q2),1) AS q2_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q2_avg DESC
                        )
                      )""").show()

q3 = ContextoSql.sql("""SELECT q3_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q3),1) AS q3_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q3_avg DESC 
                      )
                      WHERE q3_avg = (
                        SELECT MAX(q3_avg) 
                        FROM(
                          SELECT ROUND(AVG(q3),1) AS q3_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q3_avg DESC
                        )
                      )""").show()

q4 = ContextoSql.sql("""SELECT q4_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q4),1) AS q4_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q4_avg DESC 
                      )
                      WHERE q4_avg = (
                        SELECT MAX(q4_avg) 
                        FROM(
                          SELECT ROUND(AVG(q4),1) AS q4_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q4_avg DESC
                        )
                      )""").show()

q5 = ContextoSql.sql("""SELECT q5_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q5),1) AS q5_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q5_avg DESC 
                      )
                      WHERE q5_avg = (
                        SELECT MAX(q5_avg) 
                        FROM(
                          SELECT ROUND(AVG(q5),1) AS q5_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q5_avg DESC
                        )
                      )""").show()

q6 = ContextoSql.sql("""SELECT q6_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q6),1) AS q6_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q6_avg DESC 
                      )
                      WHERE q6_avg = (
                        SELECT MAX(q6_avg) 
                        FROM(
                          SELECT ROUND(AVG(q6),1) AS q6_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q6_avg DESC
                        )
                      )""").show()

q7 = ContextoSql.sql("""SELECT q7_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q7),1) AS q7_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q7_avg DESC 
                      )
                      WHERE q7_avg = (
                        SELECT MAX(q7_avg) 
                        FROM(
                          SELECT ROUND(AVG(q7),1) AS q7_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q7_avg DESC
                        )
                      )""").show()

q8 = ContextoSql.sql("""SELECT q8_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q8),1) AS q8_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q8_avg DESC 
                      )
                      WHERE q8_avg = (
                        SELECT MAX(q8_avg) 
                        FROM(
                          SELECT ROUND(AVG(q8),1) AS q8_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q8_avg DESC
                        )
                      )""").show()

q9 = ContextoSql.sql("""SELECT q9_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q9),1) AS q9_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q9_avg DESC 
                      )
                      WHERE q9_avg = (
                        SELECT MAX(q9_avg) 
                        FROM(
                          SELECT ROUND(AVG(q9),1) AS q9_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q9_avg DESC
                        )
                      )""").show()

q10 = ContextoSql.sql("""SELECT q10_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q10),1) AS q10_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q10_avg DESC 
                      )
                      WHERE q10_avg = (
                        SELECT MAX(q10_avg) 
                        FROM(
                          SELECT ROUND(AVG(q10),1) AS q10_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q10_avg DESC
                        )
                      )""").show()

q11 = ContextoSql.sql("""SELECT q11_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q11),1) AS q11_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q11_avg DESC 
                      )
                      WHERE q11_avg = (
                        SELECT MAX(q11_avg) 
                        FROM(
                          SELECT ROUND(AVG(q11),1) AS q11_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q11_avg DESC
                        )
                      )""").show()

q12 = ContextoSql.sql("""SELECT q12_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q12),1) AS q12_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q12_avg DESC 
                      )
                      WHERE q12_avg = (
                        SELECT MAX(q12_avg) 
                        FROM(
                          SELECT ROUND(AVG(q12),1) AS q12_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q12_avg DESC
                        )
                      )""").show()

q13 = ContextoSql.sql("""SELECT q13_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q13),1) AS q13_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q13_avg DESC 
                      )
                      WHERE q13_avg = (
                        SELECT MAX(q13_avg) 
                        FROM(
                          SELECT ROUND(AVG(q13),1) AS q13_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q13_avg DESC
                        )
                      )""").show()

q14 = ContextoSql.sql("""SELECT q14_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q14),1) AS q14_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q14_avg DESC 
                      )
                      WHERE q14_avg = (
                        SELECT MAX(q14_avg) 
                        FROM(
                          SELECT ROUND(AVG(q14),1) AS q14_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q14_avg DESC
                        )
                      )""").show()

q15 = ContextoSql.sql("""SELECT q15_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q15),1) AS q15_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q15_avg DESC 
                      )
                      WHERE q15_avg = (
                        SELECT MAX(q15_avg) 
                        FROM(
                          SELECT ROUND(AVG(q15),1) AS q15_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q15_avg DESC
                        )
                      )""").show()

+------+--------------------+
|q1_avg|       EquipoEvaluar|
+------+--------------------+
|   4.6|Gesti�n de Reside...|
+------+--------------------+

+------+--------------------+
|q2_avg|       EquipoEvaluar|
+------+--------------------+
|   5.0|Deserci�n de estu...|
+------+--------------------+

+------+--------------------+
|q3_avg|       EquipoEvaluar|
+------+--------------------+
|   5.0|Deserci�n de estu...|
+------+--------------------+

+------+--------------------+
|q4_avg|       EquipoEvaluar|
+------+--------------------+
|   5.0|Deserci�n de estu...|
+------+--------------------+

+------+--------------------+
|q5_avg|       EquipoEvaluar|
+------+--------------------+
|   4.5|Servicios a domic...|
|   4.5|Deserci�n de estu...|
|   4.5|Gesti�n de Reside...|
+------+--------------------+

+------+--------------------+
|q6_avg|       EquipoEvaluar|
+------+--------------------+
|   5.0|Deserci�n de estu...|
+------+--------------------+

+------+--------------------+
|q7_avg|       EquipoEvaluar|
+------+--------------------+
|   5.0|Deserci�n de estu...|
+------+--------------------+

+------+--------------------+
|q8_avg|       EquipoEvaluar|
+------+--------------------+
|   4.7|Gesti�n de Reside...|
+------+--------------------+

+------+--------------------+
|q9_avg|       EquipoEvaluar|
+------+--------------------+
|   5.0|Deserci�n de estu...|
+------+--------------------+

+-------+--------------------+
|q10_avg|       EquipoEvaluar|
+-------+--------------------+
|    4.6|Gesti�n de Men�s ...|
+-------+--------------------+

+-------+--------------------+
|q11_avg|       EquipoEvaluar|
+-------+--------------------+
|    4.5|Deserci�n de estu...|
|    4.5|Gesti�n de progra...|
+-------+--------------------+

+-------+--------------------+
|q12_avg|       EquipoEvaluar|
+-------+--------------------+
|    5.0|Deserci�n de estu...|
+-------+--------------------+

+-------+-------------+
|q13_avg|EquipoEvaluar|
+-------+-------------+
|    4.6|Te lo cambio.|
+-------+-------------+

+-------+--------------------+
|q14_avg|       EquipoEvaluar|
+-------+--------------------+
|    4.6|Servicios a domic...|
|    4.6|Lo tengo y te lo ...|
+-------+--------------------+

+-------+--------------------+
|q15_avg|       EquipoEvaluar|
+-------+--------------------+
|    5.0|Deserci�n de estu...|
+-------+--------------------+

In [39]:
# Mejor equipo según el promedio total (excluyendo evaluaciones hechas por estudiantes del mismo equipo).

ContextoSql.sql("""SELECT ROUND(AVG((q1+q2+q3+q4+q5+q6+q7+q8+q9+q10+q11+q12+q13+q14+q15)/15),2) AS Total, EquipoEvaluar
                FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                GROUP BY EquipoEvaluar
                ORDER BY Total DESC
                LIMIT 1""").show()

+-----+--------------------+
|Total|       EquipoEvaluar|
+-----+--------------------+
| 4.77|Deserci�n de estu...|
+-----+--------------------+

In [46]:
# 11. Consulte el peor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el peor equipo según el promedio total.
# Tu código a continuación...

q1 = ContextoSql.sql("""SELECT q1_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q1),1) AS q1_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q1_avg ASC 
                      )
                      WHERE q1_avg = (
                        SELECT MIN(q1_avg) 
                        FROM(
                          SELECT ROUND(AVG(q1),1) AS q1_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q1_avg ASC
                        )
                      )""").show()

q2 = ContextoSql.sql("""SELECT q2_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q2),1) AS q2_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q2_avg ASC 
                      )
                      WHERE q2_avg = (
                        SELECT MIN(q2_avg) 
                        FROM(
                          SELECT ROUND(AVG(q2),1) AS q2_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q2_avg ASC
                        )
                      )""").show()

q3 = ContextoSql.sql("""SELECT q3_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q3),1) AS q3_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q3_avg ASC 
                      )
                      WHERE q3_avg = (
                        SELECT MIN(q3_avg) 
                        FROM(
                          SELECT ROUND(AVG(q3),1) AS q3_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q3_avg ASC
                        )
                      )""").show()

q4 = ContextoSql.sql("""SELECT q4_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q4),1) AS q4_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q4_avg ASC 
                      )
                      WHERE q4_avg = (
                        SELECT MIN(q4_avg) 
                        FROM(
                          SELECT ROUND(AVG(q4),1) AS q4_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q4_avg ASC
                        )
                      )""").show()

q5 = ContextoSql.sql("""SELECT q5_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q5),1) AS q5_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q5_avg ASC 
                      )
                      WHERE q5_avg = (
                        SELECT MIN(q5_avg) 
                        FROM(
                          SELECT ROUND(AVG(q5),1) AS q5_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q5_avg ASC
                        )
                      )""").show()

q6 = ContextoSql.sql("""SELECT q6_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q6),1) AS q6_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q6_avg ASC 
                      )
                      WHERE q6_avg = (
                        SELECT MIN(q6_avg) 
                        FROM(
                          SELECT ROUND(AVG(q6),1) AS q6_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q6_avg ASC
                        )
                      )""").show()

q7 = ContextoSql.sql("""SELECT q7_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q7),1) AS q7_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q7_avg ASC 
                      )
                      WHERE q7_avg = (
                        SELECT MIN(q7_avg) 
                        FROM(
                          SELECT ROUND(AVG(q7),1) AS q7_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q7_avg ASC
                        )
                      )""").show()

q8 = ContextoSql.sql("""SELECT q8_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q8),1) AS q8_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q8_avg ASC 
                      )
                      WHERE q8_avg = (
                        SELECT MIN(q8_avg) 
                        FROM(
                          SELECT ROUND(AVG(q8),1) AS q8_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q8_avg ASC
                        )
                      )""").show()

q9 = ContextoSql.sql("""SELECT q9_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q9),1) AS q9_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q9_avg ASC 
                      )
                      WHERE q9_avg = (
                        SELECT MIN(q9_avg) 
                        FROM(
                          SELECT ROUND(AVG(q9),1) AS q9_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q9_avg ASC
                        )
                      )""").show()

q10 = ContextoSql.sql("""SELECT q10_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q10),1) AS q10_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q10_avg ASC 
                      )
                      WHERE q10_avg = (
                        SELECT MIN(q10_avg) 
                        FROM(
                          SELECT ROUND(AVG(q10),1) AS q10_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q10_avg ASC
                        )
                      )""").show()

q11 = ContextoSql.sql("""SELECT q11_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q11),1) AS q11_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q11_avg ASC 
                      )
                      WHERE q11_avg = (
                        SELECT MIN(q11_avg) 
                        FROM(
                          SELECT ROUND(AVG(q11),1) AS q11_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q11_avg ASC
                        )
                      )""").show()

q12 = ContextoSql.sql("""SELECT q12_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q12),1) AS q12_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q12_avg ASC 
                      )
                      WHERE q12_avg = (
                        SELECT MIN(q12_avg) 
                        FROM(
                          SELECT ROUND(AVG(q12),1) AS q12_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q12_avg ASC
                        )
                      )""").show()

q13 = ContextoSql.sql("""SELECT q13_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q13),1) AS q13_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q13_avg ASC 
                      )
                      WHERE q13_avg = (
                        SELECT MIN(q13_avg) 
                        FROM(
                          SELECT ROUND(AVG(q13),1) AS q13_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q13_avg ASC
                        )
                      )""").show()

q14 = ContextoSql.sql("""SELECT q14_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q14),1) AS q14_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q14_avg ASC 
                      )
                      WHERE q14_avg = (
                        SELECT MIN(q14_avg) 
                        FROM(
                          SELECT ROUND(AVG(q14),1) AS q14_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q14_avg ASC
                        )
                      )""").show()

q15 = ContextoSql.sql("""SELECT q15_avg, EquipoEvaluar
                      FROM(
                        SELECT ROUND(AVG(q15),1) AS q15_avg, EquipoEvaluar
                        FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                        WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                        GROUP BY EquipoEvaluar ORDER BY q15_avg ASC 
                      )
                      WHERE q15_avg = (
                        SELECT MIN(q15_avg) 
                        FROM(
                          SELECT ROUND(AVG(q15),1) AS q15_avg, EquipoEvaluar
                          FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                          WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                          GROUP BY EquipoEvaluar ORDER BY q15_avg ASC
                        )
                      )""").show()

+------+--------------------+
|q1_avg|       EquipoEvaluar|
+------+--------------------+
|   4.1|Administraci�n de...|
+------+--------------------+

+------+---------------+
|q2_avg|  EquipoEvaluar|
+------+---------------+
|   3.9|Mi Sanandresito|
+------+---------------+

+------+--------------------+
|q3_avg|       EquipoEvaluar|
+------+--------------------+
|   4.0|Administraci�n de...|
+------+--------------------+

+------+--------------------+
|q4_avg|       EquipoEvaluar|
+------+--------------------+
|   3.9|Gesti�n de progra...|
|   3.9|Administraci�n de...|
+------+--------------------+

+------+--------------------+
|q5_avg|       EquipoEvaluar|
+------+--------------------+
|   4.2|Administraci�n de...|
+------+--------------------+

+------+--------------------+
|q6_avg|       EquipoEvaluar|
+------+--------------------+
|   4.0|Gesti�n de Men�s ...|
+------+--------------------+

+------+--------------------+
|q7_avg|       EquipoEvaluar|
+------+--------------------+
|   4.0|Administraci�n de...|
+------+--------------------+

+------+--------------------+
|q8_avg|       EquipoEvaluar|
+------+--------------------+
|   4.1|Servicios a domic...|
|   4.1|       Te lo cambio.|
+------+--------------------+

+------+---------------+
|q9_avg|  EquipoEvaluar|
+------+---------------+
|   3.5|Mi Sanandresito|
+------+---------------+

+-------+--------------------+
|q10_avg|       EquipoEvaluar|
+-------+--------------------+
|    4.3|Servicios a domic...|
|    4.3|Gesti�n de progra...|
|    4.3|       Te lo cambio.|
+-------+--------------------+

+-------+-------------+
|q11_avg|EquipoEvaluar|
+-------+-------------+
|    3.6|Te lo cambio.|
+-------+-------------+

+-------+--------------------+
|q12_avg|       EquipoEvaluar|
+-------+--------------------+
|    4.1|Administraci�n de...|
+-------+--------------------+

+-------+--------------------+
|q13_avg|       EquipoEvaluar|
+-------+--------------------+
|    4.3|Administraci�n de...|
|    4.3|     Mi Sanandresito|
+-------+--------------------+

+-------+--------------------+
|q14_avg|       EquipoEvaluar|
+-------+--------------------+
|    4.2|Administraci�n de...|
|    4.2|     Mi Sanandresito|
+-------+--------------------+

+-------+--------------------+
|q15_avg|       EquipoEvaluar|
+-------+--------------------+
|    4.1|Administraci�n de...|
|    4.1|     Mi Sanandresito|
+-------+--------------------+

In [49]:
# Peor equipo según el promedio total (excluyendo evaluaciones hechas por estudiantes del mismo equipo).

ContextoSql.sql("""SELECT ROUND(AVG((q1+q2+q3+q4+q5+q6+q7+q8+q9+q10+q11+q12+q13+q14+q15)/15),2) AS Total, EquipoEvaluar
                FROM Evaluacion INNER JOIN Asistencia ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar
                GROUP BY EquipoEvaluar
                ORDER BY Total ASC
                LIMIT 1""").show()

+-----+--------------------+
|Total|       EquipoEvaluar|
+-----+--------------------+
| 4.19|Administraci�n de...|
+-----+--------------------+

In [50]:
# 12. Consulte la lista de estudiantes con la correspondiente nota obtenida en la presentación 
# (nota promedio total de la evaluación obtenida por el equipo)
# Tu código a continuación...

ContextoSql.sql("""SELECT DISTINCT Asistencia.NombreUsuario, Evaluacion.Promedio_Total
                FROM (
                  SELECT avg((q1+q2+q3+q4+q5+q6+q7+q8+q9+q10+q11+q12+q13+q14+q15)/15) AS Promedio_Total, EquipoEvaluar
                  FROM Evaluacion INNER JOIN Asistencia 
                  ON Evaluacion.NombreUsuario = Asistencia.NombreUsuario
                  WHERE REPLACE(EquipoPertenece,'Pertenezco a: ','') != EquipoEvaluar 
                  GROUP BY EquipoEvaluar
                ) evaluacion JOIN Asistencia asistencia 
                ON Evaluacion.EquipoEvaluar = REPLACE(asistencia.EquipoPertenece,'Pertenezco a: ','')
                ORDER BY NombreUsuario ASC 
                """).show(300)

+--------------------+-----------------+
|       NombreUsuario|   Promedio_Total|
+--------------------+-----------------+
| abanolc@unal.edu.co|4.361245674740468|
|acastrillonv@unal...|4.406432748538012|
| aflemag@unal.edu.co|4.211936936936934|
|anapariciom@unal....|4.420797227036408|
|anapariciom@unal....|4.361245674740468|
|angutierrezb@unal...| 4.18921212121212|
|anoriega@unal.edu.co|4.283009994121107|
|auarbelaeza@unal....|4.477817319098459|
| bocampo@unal.edu.co|4.420797227036408|
|cgiraldo@unal.edu.co|4.477817319098459|
|cjfunezg@unal.edu.co|4.420797227036408|
|cquinchiar@unal.e...|4.477817319098459|
| dadazam@unal.edu.co|4.211936936936934|
|daestradam@unal.e...|4.479269729093051|
|davgarciava@unal....|4.361245674740468|
|dballesteroso@una...|4.283009994121107|
|  dbrito@unal.edu.co|4.477817319098459|
|dcadavid@unal.edu.co|4.211936936936934|
|dcardonaal@unal.e...|4.477817319098459|
|dchavarriar@unal....|4.406432748538012|
|dgarciabl@unal.ed...|4.479269729093051|
|dgerenal@unal.edu.co|4.283009994121107|
|dgiraldolo@unal.e...|4.479269729093051|
|dguardia@unal.edu.co|4.477817319098459|
|dosoriom@unal.edu.co|4.420797227036408|
| eapenad@unal.edu.co| 4.18921212121212|
|elondonoc@unal.ed...|4.406432748538012|
|emflorezb@unal.ed...| 4.18921212121212|
|emlopezr@unal.edu.co|4.361245674740468|
|eporrasm@unal.edu.co|4.211936936936934|
|esgarciac@unal.ed...|4.211936936936934|
|favasquezj@unal.e...|4.361245674740468|
|fguerrerot@unal.e...|4.283009994121107|
|fmiranda@unal.edu.co|4.211936936936934|
|framirezf@unal.ed...| 4.18921212121212|
|hriveraa@unal.edu.co|4.361245674740468|
|jcardonaso@unal.e...|4.361245674740468|
|jcorreapa@unal.ed...|4.479269729093051|
|jdroldano@unal.ed...|4.420797227036408|
|jfernandezmo@unal...|4.479269729093051|
|jgutierrezlo@unal...|4.283009994121107|
|jhcordoba@unal.ed...|4.479269729093051|
|jhcordoba@unal.ed...| 4.18921212121212|
|jjmonsalvem@unal....|4.361245674740468|
|jlopezpe@unal.edu.co|4.479269729093051|
|jmonsalveb@unal.e...|4.406432748538012|
|jmunozbo@unal.edu.co|4.420797227036408|
|jmunozhe@unal.edu.co|4.479269729093051|
| jortize@unal.edu.co| 4.18921212121212|
|jovillarrealm@una...|4.211936936936934|
|jppinedal@unal.ed...|4.420797227036408|
| jruedat@unal.edu.co|4.420797227036408|
|jspatinoa@unal.ed...|4.406432748538012|
|jubuitrago@unal.e...|4.479269729093051|
|jucardonaa@unal.e...|4.406432748538012|
|jugutierrezt@unal...|4.477817319098459|
|juochoag@unal.edu.co|4.211936936936934|
|juortizt@unal.edu.co|4.283009994121107|
|juriveras@unal.ed...|4.477817319098459|
|keariasb@unal.edu.co|4.477817319098459|
| kmolano@unal.edu.co|4.406432748538012|
| kmolano@unal.edu.co| 4.18921212121212|
|lbarcelo@unal.edu.co|4.479269729093051|
|  lmayar@unal.edu.co|4.406432748538012|
|   lmazo@unal.edu.co|4.361245674740468|
| lrdiaza@unal.edu.co|4.361245674740468|
|lumarinb@unal.edu.co| 4.18921212121212|
| mcallea@unal.edu.co|4.211936936936934|
|mcarvajalsa@unal....|4.361245674740468|
|mcarvajalsa@unal....|4.477817319098459|
|mhernandezbe@unal...|4.283009994121107|
|mimorenov@unal.ed...|4.283009994121107|
|mizapataa@unal.ed...|4.477817319098459|
|nsalinas@unal.edu.co| 4.18921212121212|
|nvalenciat@unal.e...|4.283009994121107|
|parestrepoo@unal....|4.283009994121107|
|rmbuilesm@unal.ed...| 4.18921212121212|
|sacastrot@unal.ed...|4.420797227036408|
|saespinosab@unal....| 4.18921212121212|
|samolinap@unal.ed...| 4.18921212121212|
|sasalazarr@unal.e...|4.283009994121107|
|seagudeloo@unal.e...|4.477817319098459|
|sebermudezg@unal....|4.420797227036408|
|sednarvaezna@unal...| 4.18921212121212|
|serendona@unal.ed...|4.406432748538012|
|   tleon@unal.edu.co|4.211936936936934|
| wocampo@unal.edu.co|4.479269729093051|
+--------------------+-----------------+